@using WorkFlow.Ext
<div style="background-color: white;">
    @using (Ajax.BeginModalForm("Comment", "Inbox", new ModalAjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        ModalTargetId = "div_message_cont"
    }))
    {
        @Html.Hidden("flowCaseId")
        @Html.Hidden("flowStepId")
        <div class="form-group">
            @Html.TextArea("comments", new { style = "width:570px;max-width:570px;height:150px;max-height:150px;", data_val = "true", data_val_required = "*" })
        </div>
        <div class="form-group">
            <label>
                @Html.CheckBox("ccToAll", new { style = "width:20px;height:20px;" })
                Select to cc all
            </label>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#div_message_cont form').addUnobtrusiveValidation();
            });
        </script>
    }
</div>