@using Resources
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    #menu-toggle-btn {
        display: none;
    }

    .content-section {
        left: 0;
    }
</style>
<div style="margin: 40px">
    <hgroup>
        <h3 class="alert alert-warning">@(ViewBag.Msg as string)</h3>
        @Html.ActionLink(StringResource.CHANGE_PASSWORD, "ConfirmChangePassword", new { country = ViewBag.Country, lang = ViewBag.Language, change = true }, new { @class = "btn btn-warning" })
        @Html.ActionLink(StringResource.LOGIN, "ConfirmChangePassword", new { country = ViewBag.Country, lang = ViewBag.Language, change = false }, new { @class = "btn btn-primary" })
    </hgroup>
</div>